body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-repeat: repeat !important;
    background-size: 150px 150px !important;
    background-image: url("../public/green-doggy.jpg") !important;
}

.text-shadow {
    text-align: center;
    text-shadow: 2px 2px #FFF;
}

.login-page {
    padding-top: 10em !important;
}

.add-word-page {
    padding-top: 3em !important;
}

.add-word-form {
    margin: 0 1em !important;
}

.add-word-page-dropzone {
    margin: 2em 0 !important;
}